<html>
<head>
	<title>Baan Slogan List</title>
	<style>
		h1 {
			  text-align: center;
		}

		table {
			  margin: auto;
		}

		td, th {
			  padding: 0.4em;
		}

		th {
			  background-color: rgb(200, 200, 200);
		}

		tr:nth-child(even) {
			  background-color: rgb(232, 232, 232);
		}
	</style>
</head>
<body>
	<h1>รายการสโลแกนบ้าน</h1>
	<table>
		<tr>
			<th>ชื่อบ้าน</th>
			<th>สโลแกน</th>
		</tr>
		
		<tr>
			<td>บ้านแอ๊บ</td>
			<td>ABNormal<br>ชื่อนี้มีแต่มิตรภาพและความอบอุ่น</td>
		</tr>
		
		<tr>
			<td>บ้านอากาเป้</td>
			<td>เมื่อเรารัก เรารักอย่างไม่มีเงื่อนไข</td>
		</tr>
		
		<tr>
			<td>บ้านบึ้ม</td>
			<td>บ้านบึ้มนะ<br>น้องไหวหรอ</td>
		</tr>
		
		<tr>
			<td>บ้านดอก</td>
			<td>บ้านดอก ดินแดนแห่งอากราบาห์</td>
		</tr>
		
		<tr>
			<td>บ้านดุ๊ยดุ่ย</td>
			<td>ถ้าอยากรู้เรื่องราวให้กระจ่าง พวกเราก็พร้อมแจ้งแถลงไข<br>เพื่อปกป้องความสุขของน้องๆ เราคือดุ่ยเกมอน</td>
		</tr>
		
		<tr>
			<td>บ้านอินเดียน่า</td>
			<td>We will be blended together.</td>
		</tr>
		
		<tr>
			<td>บ้านจัดสัน</td>
			<td>จัดสัน อาหารเสิร์ฟ</td>
		</tr>
		
		<tr>
			<td>บ้านคุณหนู</td>
			<td>บ้านคุณหนูจะเข้าไปอุ๋ง จะเข้าไปตกหัวใจ…</td>
		</tr>
		
		<tr>
			<td>บ้านหมีน้อย</td>
			<td>คุณพร้อมที่จะออกจากโลกของมักเกิ้ลหรือยัง</td>
		</tr>
		
		<tr>
			<td>บ้านพักตากอากาศ</td>
			<td>อะไรก็ไม่สำคัญเท่าเราได้ "พัก" ไปด้วยกัน</td>
		</tr>
		
		<tr>
			<td>บ้านป้าน่ารัก</td>
			<td>บ้านอบอุ่นไม่เป็นรอง<br>เสียงกลองดังสนั่น<br>สันทนาการถึงใจ<br>รับน้องใหม่สู่ครอบครัว</td>
		</tr>
		
		<tr>
			<td>บ้านผี</td>
			<td>ผีฮาทีคหวีดลั่นบ้าน</td>
		</tr>
		
		<tr>
			<td>บ้านหรอย</td>
			<td>อยากรับน้องแบบหรอย ๆ ให้เตรียมแบ็คแพ็คแล้วมาจอยกันที่บ้านหรอย</td>
		</tr>
		
		<tr>
			<td>บ้านเสี่ยว</td>
			<td>Seiywengers Assemble ปฏิบัติการรวมพลังเสี่ยว ชวนน้องเปรี้ยวไปด้วยกัน</td>
		</tr>
		
		<tr>
			<td>บ้านเต็ม</td>
			<td>มาเติมเต็มทุกเรื่องราวให้เต็มด้วยกัน ที่บ้านเต็ม</td>
		</tr>
		
		<tr>
			<td>บ้านบูชายัญ</td>
			<td>ให้พวกเราทำนายโชคชะตาให้คุณ</td>
		</tr>
		
		<tr>
			<td>บ้านดัง</td>
			<td>ถึงไดโนซอร์จะไม่มีแล้ว แต่ดังโนซอร์จะอยู่ตรงนี้ตลอดไป</td>
		</tr>
		
		<tr>
			<td>บ้านเฟี้ยว</td>
			<td>อยู่เฟี้ยวโซน จะอโลนได้ไง</td>
		</tr>
		
		<tr>
			<td>บ้านคิดส์</td>
			<td>NASA can't take you back, but we can!</td>
		</tr>
		
		<tr>
			<td>บ้านโคะ</td>
			<td>Live like we’re drunk.</td>
		</tr>
		
		<tr>
			<td>บ้านหลายใจ</td>
			<td>หลายใจล่าสมบัติ มหาขุมทรัพย์สุดขอบสมุทร</td>
		</tr>
		
		<tr>
			<td>บ้านไหน</td>
			<td>บ้านไหนไม่ใช่คำถามเพราะบ้านไหนคือคำตอบ</td>
		</tr>
		
		<tr>
			<td>บ้านเปรี้ยว</td>
			<td>Fasten your seat belt and search the way to our present.</td>
		</tr>
		
		<tr>
			<td>บ้านหวัง</td>
			<td>จอห์นวิคคิดถึงหมา<br>อยากมีเพื่อนต้องมาจอห์น "หวัง</td>
		</tr>
		
		<tr>
			<td>บ้านว้อนท์</td>
			<td>จงกล้าที่จะทำในสิ่งที่ตนเอง "อยาก"<br>Let's do what we WANTED to do !</td>
		</tr>
		
		<tr>
			<td>บ้านเวิร์ค</td>
			<td>Don’t Unlock, WORK Inside.</td>
		</tr>
		
		<tr>
			<td>บ้านอะอึ๋ม</td>
			<td>Lost, but okay 'cause we’re TOGETHER.</td>
		</tr>
		
		<tr>
			<td>บ้านโจ๊ะเด๊ะ ฮือซา</td>
			<td>ถึงเวลาสนุกแล้วสิ</td>
		</tr>
		
		<tr>
			<td>บ้านคุ้ม</td>
			<td>Koommikaze ตำนานที่ไม่มีวันตาย</td>
		</tr>
		
		<tr>
			<td>บ้านพ่อ</td>
			<td>“Call me by your daddy’s name” - Let's release your daddy steps and set the world on fire.</td>
		</tr>
		
		<tr>
			<td>บ้านสด</td>
			<td>มาบ้านสดอาจไม่โสดกลับไป</td>
		</tr>
		
		<tr>
			<td>บ้านโซ้ยตี๋หลีหมวย</td>
			<td>แม้เราไม่มีเครื่องลบความทรงจำ<br>แต่ความลำพังจะไม่เกิดในบ้านเรา</td>
		</tr>
		
		<tr>
			<td>บ้านอินดี้</td>
			<td>We're in the Indy game now.</td>
		</tr>
		
		<tr>
			<td>บ้านโจ๋</td>
			<td>ยินดีต้อนรับเหล่าเฟรชชี่ โจ๋แมนจี้กำลังตกอยู่ในอันตราย พวกเราต้องการคุณ</td>
		</tr>
		
		<tr>
			<td>บ้านแรง</td>
			<td>Wingardium RANGviosa</td>
		</tr>
		
		<tr>
			<td>บ้านยิ้ม</td>
			<td>มารับรอยยิ้มที่บ้านยิ้มกันนะครับ :)</td>
		</tr>
		
	</table>
</html>